.WBEJ {
    display: block !important;
}
div.WLT.wd-popup.WFVR.WKVR.WGVR.WLDG{
    max-width: 80% !important;
    width: 80% !important;
}

div[class*='InputContainer']{
    width: 100% !important;
}
div[class*='SelectContainer']{
    width: 100% !important;
}
div[class*='ListContainer']{
    width: 100% !important;
}
div[style='width: 280px;']{
    width: unset !important; 
}
